.code-card[b-rt8lfhqkrs] {
    display: flex;
    border: solid black 2px;
    border-radius: 10px;
    position: relative;
    background-color: beige;
    padding: 1rem;
    cursor: pointer;
}

.code-card[card-color='Neutral'][b-rt8lfhqkrs] {
    background-color: beige;
}
.code-card[card-color='Red'][b-rt8lfhqkrs] {
    background-color: red;
}
.code-card[card-color='Blue'][b-rt8lfhqkrs] {
    background-color: blue;
}
.code-card[card-color='Black'][b-rt8lfhqkrs] {
    background-color: dimgray;
}