@page "/"


<PageTitle>Index</PageTitle>
<div class="d-flex flex-column align-items-center">
    <h3>Codenames Solver</h3>
    <section class="d-flex" style="height: 625px;">
        <section class="d-flex flex-column">
            <CardGrid />
            <CardGrid />
            <ControlPanel />
        </section>
        <SimilarityItemsSidebar />
    </section>



</div>
    
@code {

}