.color-selector {
    position: absolute;
    top: calc(100% + 12px);
    z-index: 10011;
    color: rgb(190, 190, 224, 1);
    border: solid gray 0.5px;
    border-radius: 4px;
    padding-inline: 6px;
    padding-bottom: 3px;
    background-color: #4e4376;
    cursor: default;
}
.color-selector::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}
.col-square {
    height: 2rem;
    width: 2rem;
    border-radius: 3px;
    margin-inline: 2px;
    cursor: pointer;
}
.col-square:hover {
    filter: brightness(110%);
}
.col-square.red{
    background-color: #c21a1a;
}
    .col-square.blue {
        background-color: #7b9bdc;
    }
.col-square.neutral {
    background-color: beige;
}
.col-square.black {
    background-color: dimgray;
}
