#similarity-items-sidebar {
    display: flex;
    right: 0;
    flex-direction: column;
    background-color:  #636b86;
    width: 18rem;
    height: 100%;
    padding: 3px;
    overflow-y: scroll;
}
