@inject CardsState CardsState
<div @onmousedown="ToggleCardPicked" @onmousedown:stopPropagation class="toggle-picked-button d-flex align-items-center justify-content-center">
    @if (cardPicked)
    {
        <div aria-label="Unmark card as revealed"> 👉 </div>
    }
    else
    {
        <div aria-label="Mark card as revealed">👈</div>
    }
</div>
    

@code {
    [Parameter]
    public int CardIndex { get; set; }

    bool cardPicked => CardsState.GetCardPicked(CardIndex);

    void ToggleCardPicked()
    {
        CardsState.UpdateCardPicked(this, !cardPicked, CardIndex);
    }
}
